.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
}

.background {
    flex: 1;
    align-items: center;
    padding: 0 clamp(1rem, 10vw, 200px);
    background: linear-gradient( to bottom, #ffffff, #daffd2 );
}
